<mat-form-field>
	<mat-label>
		<mat-spinner 
			*ngIf="loading"
			diameter="20"
			strokeWidth="2"
		>
		</mat-spinner>
		{{ label }}
	</mat-label>
  <input 
	  type="text" 
	  [placeholder]="placeholder" 
	  matInput 
	  [required]="required" 
	  [formControl]="form" 
	  [matAutocomplete]="auto">
  <mat-autocomplete 
  	#auto="matAutocomplete"
  	[displayWith]="displayFn.bind(this)">
  	<mat-optgroup 
  		*ngFor="let study of (filteredOptions | async)" 
  		label="{{ study.code }} {{ study.label }}">
	    <mat-option *ngFor="let action of study.actions" [value]="action['@id']">
	      <small>{{ action.label }}</small>
	    </mat-option>
	  </mat-optgroup>
  </mat-autocomplete>
</mat-form-field>