<mat-form-field
	[appearance]="appearance"
>
  <mat-label>{{ label }}</mat-label>
  <mat-select 
  	[formControl]="form"
  	[required]="required">
		<mat-option 
			*ngFor="let option of options"
			[disabled]="isDisabled(option)" 
			[value]="value(option)"
		>
      {{ optionDisplayFn(option) }}
    </mat-option>
  </mat-select>
  <mat-spinner 
		*ngIf="loading"
		matPrefix
		diameter="20"
		strokeWidth="2"
	>
	</mat-spinner>
	<button 
		*ngIf="!required"
		mat-icon-button 
		matSuffix
		(click)="onClear($event)"
		matTooltip="Supprimer la selection"
	>
    <mat-icon>clear</mat-icon>
  </button>
</mat-form-field>