<ng-container *ngIf="!loading; else loadingTemplate">

	<ng-container *ngIf="!works.length; else tableElement">
		<mat-list>
		  <mat-divider></mat-divider>
		  <mat-list-item>
		    <p mat-line> Aucun travail ce jour </p>
		  </mat-list-item>
		  <mat-divider></mat-divider>
		</mat-list>
	</ng-container>
	<ng-template #tableElement>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Tache</th>
					<th>Temps</th>
					<th>Nuit</th>
					<th>WE</th>
					<th>Déplacement</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let work of works">
					<td>
						<button 
							mat-icon-button 
							style="color: red;margin-right: 10px;"
							(click)="deleteWork(work)"
						>
							<mat-icon>delete_outline</mat-icon>
						</button>
						<button 
							mat-icon-button 
							color="primary"
							(click)="editWork(work)"
						>
							<mat-icon>mode_edit_outline</mat-icon>
						</button>
					</td>
					<td>
						<div>{{ work.action.category.label || '-' }}</div>
						<div><i>{{ work.action.study.label || '-' }}</i></div>
					</td>
					<td>{{ displayDuration(work.duration) }}</td>
					<td>
						<mat-icon>{{ work.isNight ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
					</td>
					<td>
						<mat-icon>{{ work.isWe ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
					</td>
					<td>
						<mat-icon 
							[matBadge]="work.travels.length" 
							matBadgeColor="primary"
						> drive_eta </mat-icon>
					</td>
				</tr>
			</tbody>
		</table>
	</ng-template>
</ng-container>
<ng-template #loadingTemplate>
	<app-loader message="Récupération des actions réalisées"></app-loader>
</ng-template>