.table tbody tr:not(:nth-child(1)) {
  cursor: pointer;
  opacity: 0.8;
  transition: box-shadow .25s ease,background-color .25s ease;
}

.table tbody tr:not(:nth-child(1)):hover {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.table td:nth-child(1) {
  width: 50%;
  font-weight: bold;
  color: #673ab7;
}

.table tbody tr.selected {
  opacity: 1;
  background-color: #ededed;
}
  
.action-group {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.action-label {
  border: 0;
  margin: 16px 0 0;
  padding: 16px 0;
  text-align: center;
}

.action-label .cnt {
  position: relative;
}

.action-label .cnt span {
  background-color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  z-index: 1;
}
.action-label .cnt:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  line-height: 1px;
  position: absolute;
  top: 11px;
  left: 0;
  z-index: 0;
}

.action-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: box-shadow .25s ease,background-color .25s ease;
  padding: 0;
  height: 64px;
  border-top: 1px solid #ccc;
}
.action-item:hover {
  background-color: #f5f5f5;
}

.action-item .item {
  display: -ms-grid;
  display: grid;
  flex: 1;
  padding: 0 8px;
  -moz-column-gap: 16px;
  column-gap: 16px;
  -ms-grid-columns: auto 16px 5fr 16px 2fr 16px 2fr 16px auto;
  grid-template-columns: auto 5fr 2fr 2fr auto;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
      "icon label category amount chevron"
      "icon date type amount chevron";
}

.action-item .item .label{
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: label;
  text-transform: uppercase;
}

.action-item .item .label{
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: label;
  text-transform: uppercase;
}

.table tbody tr th {
  padding: 0.3rem 0.75rem;
  font-weight: 400;
}

.table th:nth-child(1),
.table td:nth-child(1), {
  width: auto;
}

.table th:nth-child(2),
.table td:nth-child(2), {
  width: 90px;
}

.table th:nth-child(3),
.table td:nth-child(3), {
  width: 100px;
}

.table th:nth-child(4),
.table td:nth-child(4), {
  width: 70px;
  padding: 0.75rem 5px;
}

.table th:nth-child(5),
.table td:nth-child(5), {
  width: 60px;
}


.table button {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.table td button:not(:nth-child(1)) {
  margin-left: 5px;
}