.element {
	margin-bottom: 15px;
	height: 40px;
	line-height: 40px;
}

.element .title {
	font-size: 1.2em !important;
  padding-left: 0px;
  color: rgba(0,0,0,.54);
	font-weight: 400;
}

.element div {
	font-size: 1.1em;
  padding-left: 40px;
  display: inline-block;
}