<mat-card>
	<ng-container *ngIf="!loading && person; else loadingTmp">
		<mat-card-title>
			{{ person.firstname }} {{ person.name }} ({{ person.alias }})

			<div class="float-right">
				<a 
					[routerLink]="['./form']"
					mat-fab
					color="primary"
					matTooltip="Modifier les informations"
				>
					<mat-icon>edit</mat-icon>
				</a>
			  <button 
					mat-mini-fab
					style="margin-left: 10px;"
					matTooltip="Supprimer"
					color="warn"
					(click)="delete(person)">
			    <mat-icon>delete</mat-icon>
			  </button>
			</div>

		</mat-card-title>

		<mat-card-content>

			<div class="element">
				<div class="title"> Compte Geonature </div>
				<div> {{ person.compteId }} </div>
			</div>

			<h5>Liste des contrats</h5>
			<div style="margin-bottom: 5px;">
				<button 
					mat-stroked-button 
					color="primary"
					(click)="addEmployee()">Nouveau contrat
				</button>
			</div>

			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Antenne</th>
						<th>Fonction</th>
						<th>Taux (%)</th>
						<th>Début</th>
						<th>Fin</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngIf="person.employees.length; else noData">
						<tr *ngFor="let employee of person.employees|sortBy:'desc':'contractStart';">
							<td>{{ employee.antenne.name }}</td>
							<td>{{ employee.function.label }}</td>
							<td>{{ employee.rate }}</td>
							<td>{{ employee.contractStart | date:'dd/MM/yyyy' }}</td>
							<td>{{ employee.contractEnd | date:'dd/MM/yyyy' }}</td>
							<td>
								<ng-container *ngIf="employee.removable">
									<button 
										mat-icon-button 
										color="primary"
										(click)="editContrat(employee)">
								    <mat-icon matTooltip="Modifier cette ligne">edit</mat-icon>
								  </button>
									<button 
										mat-icon-button 
										color="warn"
										(click)="deleteContrat(employee)">
								    <mat-icon matTooltip="Supprimer cette ligne">clear</mat-icon>
								  </button>
								</ng-container>
							</td>
						</tr>
					</ng-container>
					<ng-template #noData>
						<tr><td colspan="6">Aucune donnée pour le moment</td></tr>
					</ng-template>
				</tbody>
			</table>

		</mat-card-content>
	</ng-container>
	<ng-template #loadingTmp>
		<app-loader message="Récupération des données"></app-loader>
	</ng-template>
</mat-card>