.tinymce-label {
	color: rgba(0,0,0,.54);
	font-weight: 400;
}

.subform-bloc {
	padding: 15px 10px;
	margin-bottom: 20px;
  background-color: #fbfbfb;
  border-radius: 3px;
}

.subform {
	width: calc(100% - 50px);
  display: inline-block;
}