<form 
	[formGroup]="form" 
	autocomplete="off"
	[style.fontSize.px]="14"
>
  <mat-form-field appearance="outline">
  	<mat-label>Intitulé</mat-label>
    <input 
	    matInput 
	    placeholder="Intitulé"  
			required
			formControlName="label">
		<mat-error *ngIf="form.get('label').errors">{{ form.get('label').errors.message }}</mat-error>
  </mat-form-field>

	<div class="row">
	  <mat-form-field 
	  	class="col-md-6"
	  	appearance="outline"
	  >
	  	<mat-label>Date de début</mat-label>
		  <input 
		  	id="dateStart"
		  	matInput 
		  	type="text"
		  	[matDatepicker]="dateStartP" 
		  	placeholder="jj/mm/aaaa" 
		  	formControlName="dateStart"
		  	required>
		  <mat-datepicker-toggle matSuffix [for]="dateStartP"></mat-datepicker-toggle>
		  <mat-datepicker #dateStartP></mat-datepicker>
		</mat-form-field>

	  <mat-form-field 
	  	class="col-md-6"
	  	appearance="outline"
	  >
	  	<mat-label>Date de fin</mat-label>
		  <input 
		  	matInput 
		  	id="dateEnd"
		  	type="text"
		  	[matDatepicker]="dateEndP" 
		  	placeholder="jj/mm/aaaa" 
		  	autocomplete="off" 
		  	formControlName="dateEnd"
		  >
		  <mat-datepicker-toggle matSuffix [for]="dateEndP"></mat-datepicker-toggle>
		  <mat-datepicker #dateEndP></mat-datepicker>
		</mat-form-field>
	</div>

	<div class="row">
		<mat-form-field 
			class="col-md-6"
			appearance="outline"
		>
			<mat-label>Groupe taxonomique</mat-label>
	    <input 
		    matInput
		    id="groupeTaxo"
		    placeholder="Groupe étudié"  
  			formControlName="groupeTaxo"
  		>
	  </mat-form-field>

	  <mat-form-field 
	  	class="col-md-6"
	  	appearance="outline"
	  >
			<mat-label>Milieu</mat-label>
	    <input 
		    matInput
		    id="milieu"
		    placeholder="Milieu étudié"  
  			formControlName="milieu"
  		>
	  </mat-form-field>
	</div>

	<h6> Objectif </h6>
	<editor 
		[init]="{
    	base_url: '/tinymce',
    	suffix: '.min',
    	plugins: [
	     'lists link image paste help wordcount'
	    ],
    	toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | help'
  	}"
  	formControlName="objectif"
  	outputFormat="html"
  ></editor>



	<div style="margin-top: 10px;">
    <button 
      mat-raised-button
      style="margin-right: 10px;"
      (click)="cancel()">
      Annuler
    </button>
    <app-submit-btn
    	[disabled]="form.invalid"
    	[waiting]="waiting"
    	(click)="submit()"
    >
    	{{ projet ? 'Modifier' : 'Ajouter' }}
    </app-submit-btn>
  </div>

		<!-- <div class="col-sm-6">
			
			<fieldset class="border p-2">
			  <legend  class="w-auto">Responsable(s)</legend>
			
				<div class="row">
			    <ng-container *ngFor="let manager of managers.controls; let index = i ; let last = last">
						<div class="col-8">
							<app-projet-control-employee [form]="manager"></app-projet-control-employee>
						</div>
						<div class="col-4">
							<button 
								*ngIf="managers.controls.length > 1"
								matTooltip="Enlever ce manager"
								style="margin-right: 5px;"
					      mat-mini-fab
					      color="warn"
					      (click)="removeResponsable(i)">
					      <mat-icon>clear</mat-icon>
					    </button>
							<button 
								*ngIf="last && manager.valid"
								matTooltip="Ajouter un autre manager"
					      mat-mini-fab
					      color="primary"
					      (click)="addResponsable()">
					      <mat-icon>add</mat-icon>
					    </button>
					  </div>
			    </ng-container>
			    
			    <div 
			    	*ngIf="form.get('managers').errors && form.get('managers').hasError('required')"
			    	class="col-12"
			    >
			    	<div class="mat-error">Il est nécessaire d'indiquer un manager.</div>
			    	<button 
							matTooltip="Ajouter un manager"
				      mat-raised-button
				      color="primary"
				      (click)="addResponsable()">
				      <mat-icon>add</mat-icon> Ajouter un manager
				    </button>
			    </div>
			  </div>
		  </fieldset>

			<fieldset class="border p-2">
			  <legend class="w-auto">Localisation(s)</legend>

				<div class="row">
			    <ng-container *ngFor="let localisation of localisations.controls; let index = i ; let last = last;let first = first;">
						<div class="col-8">
							<app-projet-control-localisation [form]="localisation"></app-projet-control-localisation>
						</div>
						<div class="col-4">
							<button 
								*ngIf="!localisation.pristine && localisations.controls.length > 1"
								matTooltip="Enlever cette localisation"
								style="margin-right: 5px;"
					      mat-mini-fab
					      color="warn"
					      (click)="removeLocalisation(i)">
					      <mat-icon>clear</mat-icon>
					    </button>
							<button 
								*ngIf="last && localisation.valid && !localisation.pristine"
								matTooltip="Ajouter une autre localisation"
					      mat-mini-fab
					      color="primary"
					      (click)="addLocalisation()">
					      <mat-icon>add</mat-icon>
					    </button>
					  </div>
			    </ng-container>
			    <div 
			    	*ngIf="form.get('localisations').errors && form.get('localisations').hasError('required')"
			    	class="col-12"
			    >
			    	<div class="mat-error">Il est nécessaire d'indiquer une localisation.</div>
			    	<button 
							matTooltip="Ajouter une localisation"
				      mat-raised-button
				      color="primary"
				      (click)="addLocalisation()">
				      <mat-icon>add</mat-icon> Ajouter une localisation
				    </button>
			    </div>
			  </div>
			</fieldset>

		</div> -->

	


	
</form>