<table 
	mat-table 
	[dataSource]="studies" 
	class="example-table"
  matSort 
  matSortActive="code" 
  matSortDisableClear 
  matSortDirection="desc"
>
  <!-- Code Column -->
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef>Code</th>
    <td mat-cell *matCellDef="let row">{{row.code}}</td>
  </ng-container>

  <!-- Études Column -->
  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef>Études</th>
    <td mat-cell *matCellDef="let row">{{row.label}}</td>
  </ng-container>

  <!-- State Column -->
  <!-- <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>State</th>
    <td mat-cell *matCellDef="let row">{{row.state}}</td>
  </ng-container> -->

  <!-- Created Column -->
  <!-- <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
      Created
    </th>
    <td mat-cell *matCellDef="let row">{{row.created_at | date}}</td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>


<!-- <div>
	<mat-card>
		<table class="table table-sm">
			<thead>
				<tr>
					<th> Études </th>
					<th> jours prévus </th>
					<th> jours réalisé </th>
					<th> jours restant </th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let study of studies">
					<td> 
						<a 
							[routerLink]="['/projet/etudes/', study.id]" 
	        		matTooltip="Accéder au détail de l'étude"
	        	><b>{{ study.label }}</b></a> 
	        </td>
					<td> {{ getScheduledDays(study) }} </td>
					<td> {{ getUsedDays(study) | number: '1.0-2'}} </td>
					<td> {{ getScheduledDays(study) - getUsedDays(study) | number: '1.0-2' }} </td>
				</tr>
			</tbody>
		</table>
	</mat-card>
</div> -->

<!-- <app-projet-plans-prov-schedule *ngIf="person"></app-projet-plans-prov-schedule> -->