<div class="row">
	<div class="col-md-2">
		<app-projet-pdc-global-stats></app-projet-pdc-global-stats>
	</div>

	<div class="col-md-2">
		<mat-card *ngIf="person">
			<table class="table">
				<tr>
					<td>Recup</td>
					<td>{{ person.recup / 60 | number: '1.0-2' }} heure(s)</td>
				</tr>
				<tr>
					<td>Congés N</td>
					<td>{{ person.cpYear }} jour(s)</td>
				</tr>
				<tr>
					<td>Congés N-1</td>
					<td>{{ person.cpPrevYear }} jour(s)</td>
				</tr>
			</table>
		</mat-card>
	</div>



	<div class="col-md-8">
		<app-project-pdc-person-info></app-project-pdc-person-info>
	</div>
</div>

<div>
	<mat-card>
		<table class="table table-sm">
			<thead>
				<tr>
					<th> Projet </th>
					<th> jours prévus </th>
					<th> jours réalisé </th>
					<th> jours restant </th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let project of projects">
					<td> {{ project.intitule }} </td>
					<td> {{ getScheduledDays(project) }} </td>
					<td> {{ getUsedDays(project) | number: '1.0-2'}} </td>
					<td> {{ getScheduledDays(project) - getUsedDays(project) | number: '1.0-2' }} </td>
				</tr>
			</tbody>
		</table>
	</mat-card>
</div>
