<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Fournisseur</th>
			<th>PJ</th>
			<th>Coût TTC</th>
			<th *ngIf="isAuthUserData"></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let expense of expenses">
			<td>
				<div *ngIf="orderBy.field !== 'chargeType'">
					<span class="categ-label">Type</span> <b>{{ expense.chargeType.label }}</b>
				</div>
				<div *ngIf="orderBy.field !== 'study'">
					<span class="categ-label">Étude</span> <b>{{ expense.study.label }}</b>
				</div>
				<div *ngIf="orderBy.field !== 'expenseDate'">
					<span class="categ-label">Date</span> <b>{{ expense.expenseDate | date:'dd/MM/yyyy' }}</b>
				</div>
			</td>
			<td>{{ expense.provider }}</td>
			<td *ngIf="isAuthUserData">
				<button 
	        mat-icon-button
	        class="setting-button"
	        [matMenuTriggerFor]="attachmentMenu"
	      ><mat-icon [matBadge]="expense.proofs.length">attachment</mat-icon>
	    	</button>
	      <mat-menu #attachmentMenu="matMenu">
	        <button 
	        	*ngFor="let proof of expense.proofs"
	          mat-menu-item
	          color="primary"
	          matTooltip="Télécharger le fichier"
	          matTooltipPosition="before"
	          (click)="downloadFile(proof)"
	        > <mat-icon style="color: #683ab7;">file_download</mat-icon> {{ proof.originalFileName }} </button>
	      </mat-menu> 
			</td>
			<td>{{ expense.amountInclTax }} €</td>
			<td>
				<button 
	        mat-icon-button
	        class="setting-button"
	        [matMenuTriggerFor]="menu"
	      ><mat-icon>more_vert</mat-icon></button>
	      <mat-menu #menu="matMenu">
	        <button 
	          mat-menu-item
	          color="primary"
	          [disabled]="!expense.removable"
	          [matTooltip]="expense.removable ? 'Modifier' : 'Frais lié à un déplacement - Ne peut être modifié'"
	          (click)="edit(expense)"
	        > <mat-icon style="color: #683ab7;">mode_edit_outline</mat-icon> Modifier </button>
	        <button 
	          mat-menu-item
	          [disabled]="!expense.removable"
	          [matTooltip]="expense.removable ? 'Supprimer' : 'Frais lié à un déplacement - Ne peut être supprimé'"
	          (click)="delete(expense)"
	        > <mat-icon style="color: red;">delete_outline</mat-icon> Supprimer </button>
	      </mat-menu> 
			</td>
		</tr>
	</tbody>
</table>
