<mat-form-field>
	<mat-label>
		<mat-spinner 
			*ngIf="loading"
			diameter="20"
			strokeWidth="2"
		>
		</mat-spinner>
		{{ displayAll ? 'Toutes les actions' : 'Mes actions' }}
	</mat-label>
	<button 
		*ngIf="!loading"
		mat-icon-button 
		matPrefix 
		[matTooltip]="displayAll ? 'Afficher mes actions' : 'Afficher toutes les actions'"
		(click)="displayAll = !displayAll"
	>
    <mat-icon>{{ displayAll ? 'groups' : 'person_outline' }}</mat-icon>
  </button>
  <input 
	  type="text" 
	  placeholder="Rechercher une action" 
	  matInput 
	  #trigger
	  [required]="required" 
	  [formControl]="inputTerm" 
	  [matAutocomplete]="auto"
	  (click)="onClick($event)"
	>
  <mat-autocomplete 
  	#auto="matAutocomplete"
  	[displayWith]="displayFn.bind(this)"
  	(optionSelected)="onSelectOption($event.option.value)"
  >
  	<mat-optgroup 
  		*ngFor="let study of (displayStudies | async)" 
  		label="{{ study.code }} {{ study.label }}">
	    <mat-option 
	    	*ngFor="let action of getListActions(study)" 
	    	[class.mat-selected] = "form.value === action['@id']"
	    	[value]="action['@id']"
	    >
	      <small>{{ action.label }}</small>
	    </mat-option>
	  </mat-optgroup>
  </mat-autocomplete>
</mat-form-field>