<ng-container *ngIf="!loading; else loadingTemplate">
	<div>
		<button 
			mat-stroked-button
			(click)="showDetails = !showDetails"
		>
			{{ !showDetails ? 'Afficher' : 'Masquer'}} les détails
		</button>
	</div>
	<table class="table table-sm table-bordered">
		<thead>
			<tr>
				<th>Études</th>
				<th>Financement</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngIf="studiesFundings.length; else noStudies">
				<ng-container *ngFor="let studyFunding of studiesFundings">
					<tr [ngClass]="{'table-secondary': showDetails}">
						<td> 
							<a
								[routerLink]="['/projet/etudes/', studyFunding.study.id]"
								matTooltip="Accès aux détails de l'étude"
							> {{ studyFunding.study.label }} </a>
						</td>
						<td>{{ studyFunding.eligibleFunding | number:'':'fr' }} €</td>
						<td>
							<button
								mat-icon-button
								class="delete-btn"
								type="button"
								color="primary"
								matTooltip="Modifier cette ligne"
								(click)="openStudyFundingFormDialog(studyFunding)"
							>
							  <mat-icon>edit</mat-icon>
							</button>
							<button
								mat-icon-button
								class="delete-btn"
								type="button"
								color="warn"
								matTooltip="Enlever cette ligne"
								(click)="delete(studyFunding)"
							>
							  <mat-icon>clear</mat-icon>
							</button>
						</td>
					</tr>
					<ng-container *ngIf="showDetails">
						<ng-container *ngIf="studyFunding.study.charges.length; else noChargeMsg">
							<tr *ngFor="let charge of studyFunding.study.charges">
								<td style="padding-left: 50px;"> <b>{{ charge.chargeType.chargeTypeRef.label }}</b> - {{ charge.label }} </td>
								<td> {{ charge.cost | number:'':'fr' }} € </td>
								<td></td>
							</tr>
						</ng-container>
						<ng-template #noChargeMsg>
							<tr>
								<td 
									colspan="3"
									style="padding-left: 50px;"
								>
									Aucun montage pour cette étude
								</td>
							</tr>
						</ng-template>
					</ng-container>
				</ng-container>
			</ng-container>
			<ng-template #noStudies>
				<tr>
					<td colspan="3">
						Pas de financement d'étude pour le moment
					</td>
				</tr>
			</ng-template>
		</tbody>
		<tfoot>
			<tr>
				<th class="table-dark">TOTAL</th>
				<td class="table-dark" colspan="2">{{ total | number:'':'fr' }} €</td>
			</tr>
			<tr>
				<th class="table-dark">PART FINANCÉE</th>
				<td class="table-dark" colspan="2">{{ totalfunding | number:'':'fr' }} €</td>
			</tr>
			<tr>
				<th class="table-dark">ÉQUILIBRE</th>
				<td 
					class="table-dark" 
					colspan="2"
					[style.color]="(totalfunding - total) > 0 ? 'green' : 'red'"
				>
					{{ (totalfunding - total) | number:'':'fr' }} €
				</td>
			</tr>
		</tfoot>
	</table>
	<div class="text-left">
		<button 
			mat-mini-fab
			color="primary"
			(click)="openStudyFundingFormDialog()"
		>
	    <mat-icon>add</mat-icon>
	  </button>
	</div>

</ng-container>
<ng-template #loadingTemplate>
	<app-loader message="Chargement en cours"></app-loader>
</ng-template>