<form [formGroup]="form">
	<div>
		<app-projet-action-control 
			[form]="form.get('action')"
			required="true"
		></app-projet-action-control>
	</div>

	<div class="row">
		<div class="col-8">
			<app-projet-time-control [form]="form.get('duration')"></app-projet-time-control>
		</div>

		<div class="col-4">
			<div>
				<mat-checkbox
			  	color="primary"
			    formControlName="isNight"
			  >
			  	Heure de nuit
			  </mat-checkbox>
			</div>
			<div *ngIf="form.get('isWe').value">
				<b>Week-end pris en compte</b>
			</div>
		</div>
	</div>

	<div>
		<h6> Déplacements </h6>

		<button 
			mat-raised-button
			matTooltip="Ajouter un déplacement"
			(click)="addTravel()"
		>
			<mat-icon>directions_car</mat-icon> Ajouter
		</button>

    <table 
    *ngIf="travels.length"
    	class="table table-sm travel-table"
    >
    	<thead>
    		<tr>
    			<th></th>
    			<th> Trajet </th>
    			<th> Durée (min) </th>
    			<th> Distance (km) </th>
    			<th> Conducteur </th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr *ngFor="let travel of travels; index as i">
    			<td> 
    				<mat-icon 
    					style="color: red;" 
    					matTooltip="Supprimer la ligne"
    				> delete_outline </mat-icon> 
    				<mat-icon 
    					style="color: #683ab7;" 
    					matTooltip="Modifier la ligne"
    					(click)="editTravel(i)"
    				> mode_edit_outline </mat-icon> 
    			</td>
    			<td> {{ travel.travel }} </td>
    			<td> {{ travel.duration }} </td>
    			<td> {{ travel.distance }} </td>
    			<td class="text-center"> {{ travel.carpool ? 'Oui' : 'Non' }} </td>
    		</tr>
    	</tbody>
    </table>
	</div>

	<mat-form-field>
    <textarea
	    matInput 
	    placeholder="Détail"  
			formControlName="detail"
		>
		</textarea> 
  </mat-form-field>

	<div>
		<app-submit-btn
			type="button"
    	[disabled]="form.invalid"
    	[waiting]="saving"
    	matTooltip="Enregistrer"
    	(click)="save()"
    >
    	{{ work ? 'Modifier' : 'Ajouter' }}
    </app-submit-btn>
		<button
			style="margin-left: 10px;"
			mat-raised-button
			type="button"
			matTooltip="Remettre à zéro le formulaire"
			(click)="reset()"
		>
		  Annuler
		</button>
	</div>

</form>