<form [formGroup]="form">
	<ng-container *ngIf="oldDateSaveBeforeUpdate === null; else workingDateFormTemplate">
		<h5> 
			<span> {{ selectedDate|date:'EEEE d MMMM yyyy':undefined:'fr' }} </span>
			<button 
				*ngIf="work !== null"
				mat-icon-button
				color="primary"
				matTooltip="Changer la date"
				(click)="oldDateSaveBeforeUpdate = work.workingDate"
			><mat-icon>edit</mat-icon></button>
		</h5> 
	</ng-container>
	<ng-template #workingDateFormTemplate>
		<div class="row">
			<mat-form-field class="col-md-6">
		  	<mat-label>Date du travail</mat-label>
			  <input 
			  	matInput 
					[max]="today"
			  	[matDatepicker]="dateP" 
			  	placeholder="jj/mm/aaaa" 
			  	formControlName="workingDate"
			  	required>
			  <mat-datepicker-toggle matSuffix [for]="dateP"></mat-datepicker-toggle>
			  <mat-datepicker #dateP></mat-datepicker>
			</mat-form-field>
		</div>
	</ng-template>

	<div>
		<app-projet-action-control 
			[actionForm]="form.get('action')"
			[studyForm]="form.get('study')"
			required="true"
		></app-projet-action-control>
	</div>

	<div class="row">
		<app-projet-control-work-category
			class="col-sm-4"
			[form]="form.get('category')"
			required="true"
		>	
		</app-projet-control-work-category>
	</div>

	<div class="row">
		<div class="col-8">
			<app-projet-time-control 
				[form]="form.get('duration')"
				required="true"
			></app-projet-time-control>
		</div>

		<div class="col-4">
			<div>
				<mat-checkbox
			  	color="primary"
			    formControlName="isNight"
			  >
			  	Heure de nuit
			  </mat-checkbox>
			</div>
			<div *ngIf="form.get('isWe').value">
				<b>Week-end pris en compte</b>
			</div>
		</div>
	</div>

	<mat-form-field>
    <textarea
	    matInput 
	    placeholder="Détail"  
			formControlName="detail"
		>
		</textarea> 
  </mat-form-field>

	<div style="margin-top: 20px;">
		<button
			type="button"
			mat-raised-button
			type="button"
			matTooltip="Remettre à zéro le formulaire"
			(click)="reset()"
		>
		  Annuler
		</button>
		<app-submit-btn
			type="button"
			style="margin-left: 10px;"
    	[disabled]="form.invalid"
    	[waiting]="saving"
    	matTooltip="Enregistrer"
    	(onClick)="save()"
    >
    	{{ work ? 'Modifier' : 'Ajouter' }}
    </app-submit-btn>
	</div>

</form>