<form [formGroup]="form">
	<div>
		<app-projet-action-control 
			[form]="form.get('action')"
			required="true"
		></app-projet-action-control>
	</div>

	<div class="row">
		<app-projet-control-action-category
			class="col-sm-4"
			[form]="form.get('category')"
			required
		>	
		</app-projet-control-action-category>
	</div>

	<div class="row">
		<div class="col-8">
			<app-projet-time-control [form]="form.get('duration')"></app-projet-time-control>
		</div>

		<div class="col-4">
			<div>
				<mat-checkbox
			  	color="primary"
			    formControlName="isNight"
			  >
			  	Heure de nuit
			  </mat-checkbox>
			</div>
			<div *ngIf="form.get('isWe').value">
				<b>Week-end pris en compte</b>
			</div>
		</div>
	</div>

	<div>
		<h6> Déplacement - Frais </h6>

		<div>

			<button 
        mat-raised-button 
        color="primary"
        [matMenuTriggerFor]="menu"
      ><mat-icon>add</mat-icon> Ajouter</button>
      <mat-menu #menu="matMenu">
        <button 
          mat-menu-item
          (click)="addTravel()"
        > <mat-icon>directions_car</mat-icon> Déplacement </button>
        <button 
          mat-menu-item
          color="primary"
          (click)="addExpense()"
        > <mat-icon>euro_symbol</mat-icon> Frais </button>
      </mat-menu>

		</div>

		<!-- <div *ngIf="travels.length || expenses.length">
	    <table class="table table-sm travel-table">
	    	<ng-container *ngIf="travels.length">
		    	<thead>
		    		<tr>
		    			<th 
			    			class="text-left"
			    			colspan="4"
			    		> <i> <b> Déplacements </b> </i> </th>
			    	</tr>
		    		<tr>
		    			<th></th>
		    			<th> Trajet </th>
		    			<th> Durée (min) </th>
		    			<th> Distance (km) </th>
		    		</tr>
		    	</thead>
		    	<tbody>
		    		<tr *ngFor="let travel of travels; index as i">
		    			<ng-container *ngIf="travel.travel !== null">
			    			<td> 
			    				<mat-icon 
			    					style="color: red;" 
			    					matTooltip="Supprimer la ligne"
			    				> delete_outline </mat-icon> 
			    				<mat-icon 
			    					style="color: #683ab7;" 
			    					matTooltip="Modifier la ligne"
			    					(click)="editTravel(travel)"
			    				> mode_edit_outline </mat-icon> 
			    			</td>
			    			<td> {{ travel.travel }} </td>
			    			<td> {{ travel.duration }} </td>
			    			<td> {{ travel.distance }} </td>
			    		</ng-container>
		    		</tr>
		    	</tbody>
		    </ng-container>
		    <ng-container *ngIf="expenses.length">
		    	<thead>
		    		<tr>
		    			<th 
			    			class="text-left"
			    			colspan="5"
			    		> 
			    			<i><b> Frais </b></i> 
			    		</th>
			    	</tr>
		    		<tr>
		    			<th></th>
		    			<th> Catégorie </th>
		    			<th> Fournisseur / Type </th>
		    			<th> Détails </th>
		    			<th> Coût TTC </th>
		    		</tr>
		    	</thead>
		    	<tbody>
		    		<tr *ngFor="let expense of expenses; index as i">
		    			<td> 
		    				<mat-icon 
		    					style="color: red;" 
		    					matTooltip="Supprimer la ligne"
		    				> delete_outline </mat-icon> 
		    				<mat-icon 
		    					style="color: #683ab7;" 
		    					matTooltip="Modifier la ligne"
		    					(click)="editExpense(i)"
		    				> mode_edit_outline </mat-icon> 
		    			</td>
		    			<td> {{ expense.chargeType.label }} </td>
		    			<td> {{ expense.provider }} </td>
		    			<td> {{ expense.details }} </td>
		    			<td class="text-center"> {{ travel.amountInclTax }} € </td>
		    		</tr>
		    	</tbody>
		    </ng-container>
	    </table>
	  </div> -->
	</div>

	<mat-form-field>
    <textarea
	    matInput 
	    placeholder="Détail"  
			formControlName="detail"
		>
		</textarea> 
  </mat-form-field>

	<div>
		<app-submit-btn
			type="button"
    	[disabled]="form.invalid"
    	[waiting]="saving"
    	matTooltip="Enregistrer"
    	(click)="save()"
    >
    	{{ work ? 'Modifier' : 'Ajouter' }}
    </app-submit-btn>
		<button
			style="margin-left: 10px;"
			mat-raised-button
			type="button"
			matTooltip="Remettre à zéro le formulaire"
			(click)="reset()"
		>
		  Annuler
		</button>
	</div>

</form>