.error {
	font-size: 11px;
  margin-top: -10px;
  margin-bottom: 10px;
  color: red;
}

.travel-table th:nth-child(1),
.travel-table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

.travel-table td:nth-child(1) > .mat-icon {
  cursor: pointer;
}

.travel-table th:nth-child(3),
.travel-table td:nth-child(3),
.travel-table th:nth-child(4),
.travel-table td:nth-child(4),
.travel-table th:nth-child(5),
.travel-table td:nth-child(5) {
  width: 80px;
  text-align: center;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon-button {
  height: 30px;
  width: 30px;
}

::ng-deep .mat-form-field-prefix .mat-icon-button .mat-icon {
  font-size: 22px !important;
}