<div class="row">
	<div class="col-6">
		<mat-card>
			
			<mat-card-content>
				<div class="row">
						<app-projet-control-person
							class="col-5"
							[form]="personForm"
							id="compteId"
							clearable="false"
						></app-projet-control-person>

						<div 
							*ngIf="!isAuthUserData"
							class="col-2"
						>
							<button
						  	mat-mini-fab
						  	matTooltip="Retourner à ma suiveuse"
						  	color="primary"
						  	(click)="personForm.setValue(user.id)"
						  >
						  	<mat-icon>face</mat-icon>
							</button>
						</div>

					<div 
						class="col-5"
						[class.offset-2]="isAuthUserData"
					>
						<button 
					  	class="float-right"
					  	color="primary"
					  	mat-raised-button 
					  	(click)="stepper.selectedIndex = stepper.selectedIndex === 1 ? 0 : 1"
					  >{{ stepper.selectedIndex === 1 ? 'Calendrier' : 'Filtres'}}</button>
					</div>
				</div>

				<mat-divider></mat-divider>
				<mat-horizontal-stepper #stepper>
					<mat-step>
						<app-projet-suiveuse-calendar></app-projet-suiveuse-calendar>
					</mat-step>

					<mat-step>
						<app-project-works-filters></app-project-works-filters>
				  </mat-step>
				</mat-horizontal-stepper>

				<div *ngIf="workByDate">
					<h5>Détail du jour</h5>
					<div>
						<div>Date : {{ workByDate?.date|date:'dd/MM/y' }}</div>
						<div *ngIf="workByDate.workTime">Temps de travail : {{ displayTime(workByDate.workTime) }}</div>
						<div *ngIf="workByDate.workNightTime">Temps de travail de nuit : {{ displayTime(workByDate.workNightTime) }}</div>
						<div *ngIf="workByDate.travelTime">Temps de transport : {{ displayTime(workByDate.travelTime) }}</div>
						<div *ngIf="workByDate.totalTime">Temps compté total : {{ displayTime(workByDate.totalTime) }}</div>
						<div *ngIf="workByDate.recup !== null">Recup : {{ displayTime(workByDate.recup) }}</div>
					</div>
				</div>
			</mat-card-content>
		</mat-card>

	</div>

	<div class="col-6">
		<mat-card>
			<mat-card-content>
				<div 
					*ngIf="isAuthUserData"
					class="adding-button"
				>
					<button 
		        mat-mini-fab
		        color="primary"
		        matTooltip="Ajouter"
		        [matMenuTriggerFor]="menu"
		      ><mat-icon>add</mat-icon></button>
		      <mat-menu #menu="matMenu">
		      	<button 
		          mat-menu-item
		          [disabled]="isFuture"
		          (click)="addElement('work')"
		        > <mat-icon>event</mat-icon> Travail </button>
		        <button 
		          mat-menu-item
		          [disabled]="isFuture"
		          (click)="addElement('travel')"
		        > <mat-icon>directions_car</mat-icon> Déplacement </button>
		        <button 
		          mat-menu-item
		          color="primary"
		          [disabled]="isFuture"
		          (click)="addElement('expense')"
		        > <mat-icon>euro_symbol</mat-icon> Frais </button>
		        <button 
		          mat-menu-item
		          color="primary"
		          (click)="addElement('holiday')"
		        > <mat-icon>beach_access</mat-icon> Congés </button>
		      </mat-menu>
				</div>
				
				<app-projet-works-results></app-projet-works-results>

			</mat-card-content>
		</mat-card>

	</div>
</div>
