<div class="row">

	<div class="col-md-6">

		<div class="element">
			<div 
				class="title"
				matTooltip="= coût journalier le plus bas parmi les projets financeurs"
			> Coût jour </div>
			<div> {{ study.dailyCost }} €/j </div>
		</div>

		<div class="element">
			<div class="title"> Date de début </div>
			<div> {{ study.dateStart | date:'dd/MM/yyyy' }} </div>
		</div>

		<div class="element">
			<div class="title"> Date de fin </div>
			<div> {{ (study.dateEnd | date:'dd/MM/yyyy') || '-' }} </div>
		</div>

		<div class="element">
			<div class="title"> Antenne </div>
			<div> {{ study?.localAttachment?.name || '-' }} </div>
		</div>

		<div class="element">
			<div class="title"> Groupe taxonomique </div>
			<div> {{ study.groupeTaxo || '-' }} </div>
		</div>

		<div class="element">
			<div class="title"> Milieu </div>
			<div> {{ study.milieu || '-' }} </div>
		</div>

		<div class="element">
			<div class="title"> Objectif </div>
			<div [innerHTML]="study.objectif"></div>
		</div>

	</div>

	<div class="col-md-6">

		<div class="sub-bloc mat-elevation-z2">
			<h6> Responsable(s) </h6>
			<mat-list *ngIf="!loading">
	      <ng-container *ngIf="study.managers.length; else noManager">
	        <mat-list-item *ngFor="let manager of study.managers">
	          {{ manager.firstname }} {{ manager.name }}
 	        </mat-list-item>
	      </ng-container>
	      <ng-template #noManager>
	        <mat-list-item>
	          Pas de responsable indiqué
	        </mat-list-item>
	      </ng-template>
	    </mat-list> 
		</div>

		<div class="sub-bloc mat-elevation-z2">
			<h6> Localisation(s) </h6>
			<mat-list *ngIf="!loading">
	      <ng-container *ngIf="study.localisations.length; else noLocalisation">
	        <mat-list-item *ngFor="let localisation of study.localisations">
	          {{ localisation }}
	        </mat-list-item>
	      </ng-container>
	      <ng-template #noLocalisation>
	        <mat-list-item>
	          Pas de localisation renseignée
	        </mat-list-item>
	      </ng-template>
	    </mat-list> 
		</div>

	</div>
</div>
