.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-person-firstname {
  max-width: 120px;
}

.mat-column-paid,
.mat-column-unpaid {
  max-width: 20px;
  text-align: left;
}

.mat-column-paid {
  color: green;
}

.mat-column-unpaid {
  color: red;
}

/* Structure */
.list-container {
  position: relative;
  min-height: 200px;
}

.table-container {
  height: auto;
  height: calc(100vh - 180px);
  overflow: auto;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}