<div class="float-right">
	<a 
		[routerLink]="['../form']"
		mat-mini-fab
		color="primary"
		matTooltip="Modifier le détail de l'étude"
	>
		<mat-icon>edit</mat-icon>
	</a>
</div>
<h5 class="study-title"> <small>Étude #</small> <span class="code">{{ study.code }}</span> {{ study.label }} </h5>
<a 
	class="go-to-list"
	[routerLink]="['../../']"
>
  <mat-icon inline="true">arrow_back</mat-icon> Retour à la liste des études
</a>


<mat-card>

	<mat-card-content>

		<nav mat-tab-nav-bar>
		  <a 
		  	mat-tab-link 
		  	*ngFor="let tab of tabs; let index = index;"
		  	[routerLink]="['../', tab.url]"
		  	[active]="currentTab == tab.url || (currentTab === null && index == 0)"
		  > {{ tab.label }} </a>
		</nav>
		<div style="padding: 10px 15px 5px 15px;">
			<ng-container [ngSwitch]="currentTab">

				<app-projet-study-info *ngSwitchCase="null"></app-projet-study-info>
				<app-projet-study-info *ngSwitchCase="'details'"></app-projet-study-info>
				<app-projet-study-fundings *ngSwitchCase="'financements'"></app-projet-study-fundings>
				<app-project-study-charges *ngSwitchCase="'charges'"></app-project-study-charges>
				<app-projet-study-actions *ngSwitchCase="'actions'"></app-projet-study-actions>
				<app-project-study-results *ngSwitchCase="'bilan'"></app-project-study-results>
				<app-project-study-deadlines *ngSwitchCase="'deadlines'"></app-project-study-deadlines>

			</ng-container>
		</div>
	</mat-card-content>
</mat-card>