<div *ngIf="month">
	<div class="calendar">
		<div class="calendar-navbar">
			<button mat-stroked-button (click)="setToday()">Aujourd'hui</button>
			<button mat-icon-button (click)="previousMonth()">
		    <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_left</mat-icon>
		  </button>
		  <button mat-icon-button  (click)="nextMonth()">
		    <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_right</mat-icon>
		  </button>

	  	<div class="ym-selects">
				<mat-form-field class="month-select">
				  <mat-select
				  	(selectionChange)="onMonthSelect($event.value)"
				  	[value]="month.getMonth()"
				  >
				    <mat-option 
				    	*ngFor="let month of months; let idx = index" 
				    	[value]="idx"
				    >
				      {{ month }}
				    </mat-option>
				  </mat-select>
				</mat-form-field>
			</div>
			
			<div class="ym-selects">
				<mat-form-field class="year-select">
				  <mat-select
				  	(selectionChange)="onYearSelect($event.value)"
				  	[value]="month.getFullYear()"
				  >
				    <mat-option 
				    	*ngFor="let year of selectYears" 
				    	[value]="year"
				    >
				      {{ year }}
				    </mat-option>
				  </mat-select>
				</mat-form-field>
			</div>

		</div>
		<div class="days-name">
			<span>Lundi</span>
			<span>Mardi</span>
			<span>Mercredi</span>
			<span>Jeudi</span>
			<span>Vendredi</span>
			<span>Samedi</span>
			<span>Dimanche</span>
		</div>
		<div class="weeks">
			<div class="week" *ngFor="let week of (dates|async)">
				<div class="week-number">{{ week.weekNumber }}</div>
				<ng-container *ngFor="let date of week.days; let idx = index">
					<div class="date"
						[ngClass]="
						{
							'other-month': date.getMonth() !== month.getMonth(), 
							'weekend': (idx + 1) % 6 === 0 || (idx + 1) % 7 === 0
						}"
						(click)="dateSelect(date)"
						app-projet-suiveuse-calendar-day
						[date]="date"
					>
					</div>
				</ng-container>
			</div>
			<div 
				*ngIf="loadingWork"
				class="loader"
			>
				<div><app-loader size="100"></app-loader></div>
			</div>
		</div>
	</div>
</div>