<mat-form-field 
	[appearance]="appearance"
>
  <mat-label>Type de financement</mat-label>
  <mat-select 
  	[formControl]="form"
  	[required]="required"
  >
  	<ng-container *ngIf="loading; else dataTmp">
  		<mat-option>Chargement...</mat-option>
  	</ng-container>
		<ng-template #dataTmp>
			<ng-container *ngIf="fundingTypes.length; else noDataTmp">
				<mat-option 
					*ngFor="let fundingType of fundingTypes"
					[value]="fundingType['@id']"
				>
		      {{ fundingType.fundingTypeRef.label }}
		    </mat-option>
		  </ng-container>
		  <ng-template #noDataTmp>
		  	<mat-option>Aucune valeur pour cette période du projet (voir avec l'admin)</mat-option>
		  </ng-template>
	  </ng-template>
  </mat-select>
  <mat-spinner 
		*ngIf="loading"
		matSuffix
		diameter="20"
		strokeWidth="2"
	>
	</mat-spinner>
  <mat-error *ngIf="form.errors && form.hasError('required')"> Ce champ est obligatoire </mat-error>
  <mat-error *ngIf="form.errors && form.hasError('dateFundingTypeError')">
		La valeur ne correspond pas à la date du projet
	</mat-error>
  <mat-error *ngIf="form.errors && !form.hasError('required') && !form.hasError('dateFundingTypeError')">{{ form.errors?.message || 'Erreur pour ce champs' }}</mat-error>
</mat-form-field>