<ng-container *ngIf="study">
<form [formGroup]="form">

	<div class="row">
	  <div class="col-md-4">
			<app-projet-control-charge-type 
				label="Catégorie" 
				[form]="form.get('chargeType')" 
				[dateFilter]="study.dateStart"
				[isPerDay]="formParam.isPerDay"
			>
			</app-projet-control-charge-type>
		</div>

	  <mat-form-field class="col-md-8">
	  	<mat-label> Intitulé </mat-label>
	    <input 
		    matInput 
		    placeholder="Intitulé de l'action"  
  			required
  			formControlName="label">
	  </mat-form-field>

	</div>

	<div>
		<mat-form-field>
			<mat-label> Description </mat-label>
	    <textarea
		    matInput 
		    placeholder="Description rapide ou détaillée"  
  			formControlName="description">
  		</textarea> 
	  </mat-form-field>
	</div>

	<!-- <div style="margin-bottom: 20px;">
		<mat-checkbox 
			color="primary"
			formControlName="autofunding"
		> Autofinancement 
		</mat-checkbox>
	</div> -->

	<div class="row">
		<ng-container *ngIf="formParam.isPerDay; else inputCostTemplate">
		  <mat-form-field class="col-md-4">
		  	<mat-label> Coût jour appliqué </mat-label>
		    <input 
			    matInput 
			    placeholder="Coût appliqué"
			    type="number"
	  			required
	  			[value]="study.dailyCost"
	  			disabled>
	  			<mat-icon matSuffix>euro_symbol</mat-icon>
		  </mat-form-field>
		</ng-container>
		<ng-template #inputCostTemplate>
			<mat-form-field class="col-md-4">
				<mat-label> Coût unitaire </mat-label>
		    <input 
			    matInput 
			    placeholder="En euro"
			    type="number"
			    min="0"
	  			required
	  			formControlName="unitCostApplied">
	  			<mat-icon matSuffix>euro_symbol</mat-icon>
		  </mat-form-field>
		</ng-template>

		<mat-form-field class="col-md-4">
			<mat-label> {{ formParam.isPerDay ? 'Nombre de jour prévu' : 'Quantité prévue' }} </mat-label>
	    <input 
		    matInput 
		    placeholder="{{ formParam.isPerDay ? 'Nombre de jour prévu' : 'Quantité prévue' }}" 
		    type="number"
		    min="0"
  			required
  			formControlName="quantity">
	  </mat-form-field>

	  <div class="col-md-4 btn-place">
	  	<app-submit-btn
	    	[disabled]="form.invalid"
	    	[waiting]="waiting"
	    	(click)="submit()"
	    >
	    	{{ charge === null ? 'Ajouter' : 'Modifier' }}
	    </app-submit-btn>
			<button 
				*ngIf="!waiting"
				type="button"
				(click)="cancel()"
				mat-raised-button 
			>
				Annuler
			</button>
	  </div>
	</div>
</form>
</ng-container>